body{background-color: beige;}
h1{

    background: black;   

    color: rgb(255, 255, 255);   

    font-family: Sans-seriff;   

    font-size: 24px;  

    font-weight: bold;    

    }::backdrop

    
    
